/* start custom scss snippet */

// 代码块
.highlight {
  pre, code {
    font-size: 1.0em !important;
    line-height: 1.6;
  }
}

// 行内代码
:not(pre) > code {
  font-size: 1.0em !important;
}

/* end custom scss snippet */
